.container {
  width: 100%;
  border: 1px solid var(--lightline);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .left {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 22px;
        height: 22px;
        background: rgba(32, 73, 185, 1);
        border-radius: 25px;
        margin-right: 5px;
      }

      .walletId {
        color: rgba(72, 72, 72, 1);
        font-size: 14px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        padding-right: 5px;
      }

      .timing {
        color: rgba(72, 72, 72, 1);
        font-size: 14px;
      }
    }
  }

  .content {
    padding: 10px 20px;

    .title {
      font-size: 20px;
      color: #2049b9;
    }

    .description {
      font-size: 16px;
      color: #484848;
      margin-top: 10px;
    }
  }

  .tagList {
    display: flex;
    padding: 10px 20px;

    .tag {
      margin: 5px;
      padding: 5px 15px;
      background: rgba(217, 217, 217, 1);
      color: rgba(72, 72, 72, 1);
      border-radius: 30px;
      font-size: 15px;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .left {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 22px;
        height: 22px;
        background: rgba(32, 73, 185, 1);
        border-radius: 25px;
        margin-right: 5px;
      }

      .walletId {
        color: rgba(72, 72, 72, 1);
        font-size: 14px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        padding-right: 5px;
      }

      .timing {
        color: rgba(72, 72, 72, 1);
        font-size: 14px;
      }
    }
  }
}
