.dark {
  .container {
    border: 1px solid rgba(45, 45, 45, 1);

    .image {
      filter: brightness(100);
    }

    span {
      color: white;
    }
  }
}

.container {
  max-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(217, 217, 217, 1);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  margin-right: 0px;
  transition: 0.3s;

  span {
    margin-left: 7px;
    color: rgba(32, 73, 185, 1);
    font-size: 15px;
  }

  &:hover {
    background-color: rgba(32, 73, 185, 1);
    transition: all ease-in-out 0.5s;

    span {
      color: white;
    }

    .image {
      filter: brightness(100);
    }
  }
}
