.dark {
  .container {
    .bordered {
      border-color: rgba(45, 45, 45, 1) !important;

      .input {
        input {
          color: white;
        }
      }
    }

    .dropdownContainer {
      border-color: rgba(45, 45, 45, 1) !important;

      span {
        color: white;
      }

      .dropdown {
        background-color: #242424;
        border-color: rgba(45, 45, 45, 1) !important;

        .optionsColumn {
          background-color: #242424;

          .option {
            background-color: #242424;

            &:hover {
              background-color: #242424;
            }
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .bordered {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--lightline);
    border-radius: 10px;
    height: 50px;

    .input {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 10px;

      :is(input) {
        width: 95%;
        border: none;
        outline: none;
        background: none;

        &::placeholder {
          color: var(--lightline);
          font-family: Recursive, sans-serif;
        }
      }
    }
  }

  .search {
    cursor: pointer;
    padding: 8.5px;
  }

  .new {
    &:hover {
      color: white;
      background: #2049b9;

      .image {
        filter: brightness(100);
      }
    }
  }

  .dropdownContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--lightline);
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
    height: 50px;

    .label {
      span {
        overflow: hidden;
        max-width: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .dropdown {
      position: absolute;
      border: 1px solid var(--lightline);
      border-radius: 10px;
      margin-top: 245px;
      margin-left: -17px;
      background: white;
      padding: 10px;

      :first-child {
        margin-top: -10px;
      }

      .option {
        color: #484848;
        margin-top: 10px;
        transition: 0.1s;

        &:hover {
          filter: contrast(100);
        }
      }
    }
  }
}
