.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--lightline);
  border-radius: 10px;

  .search {
    cursor: pointer;
    padding: 8px;
  }

  .input {
    width: 100%;
    
    :is(input) {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: none;

      &::placeholder {
        color: var(--lightline);
        font-family: Recursive, sans-serif;
      }
    }
  }
}