.container {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: hidden;

  .limitedContainer {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        filter: brightness(1.20);
      }
    }

    .userOptions {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .connectButton {
        cursor: pointer;
        padding: 10px 12px;
        background: var(--darkblue);
        color: white;
        border-radius: 10px;
        text-align: center;
        transition: 0.4s;
        overflow: hidden;

        &:hover {
          background-color: white;
          outline: 1px solid var(--darkblue);
          color: var(--darkblue);
        }
      }

      .lightMode {
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 10px;
        background-color: black;
        
        .limitWidth {
          max-width: 20px;
          max-height: 20px;
          overflow-x: visible;
        }
      }

      .darkMode {
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 10px;
        background-color: white;

        .limitWidth {
          transform: scale(1.20);
          max-width: 20px;
          max-height: 20px;
          overflow-x: visible;
        }
      }
    }
  }

}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--lightline);
}