.container {
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 16px;
  cursor: pointer;

  .timing {
    color: black;
    font-size: 15px;
  }

  .timingDark{
    color: rgba(217, 217, 217, 1);
    font-size: 15px;
  }

  .ended {
    color: rgba(217, 217, 217, 1);
    font-size: 15px;
  }
}
