.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;

  .centerColumn {
    width: 800px;
    display: flex;
    flex-direction: column;

    .userOptions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 40px;

      .backContainer {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: #2049B9;
      }

      .rightContainer {
        display: flex;
        flex-direction: row;
        gap: 15px;

        .preview {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          border: solid 1px #D9D9D9;
          padding: 10px;
          border-radius: 7px;
          transition: 0.3s;

          &:hover {
            color: white;
            background: #2049B9;

            .image {
              filter: brightness(100);
            }
          }
        }

        .publish {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          border: solid 1px #D9D9D9;
          padding: 10px;
          border-radius: 7px;
          transition: 0.3s;

          .image {
            transform: translateY(1px);
          }

          &:hover {
            color: white;
            background: #2049B9;

            .image {
              filter: brightness(100);
            }
          }
        }
      }
    }

    .inputsContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .inputRow {
        display: flex;
        flex-direction: row;
        gap: 25px;

        .startDate {

          .label {
            margin-bottom: 10px;
          }

          :is(input) {
            border-radius: 7px;
            border: 1px solid #D9D9D9;
            padding: 10px;
            width: 387px;
            outline: none;
            font-family: Recursive, sans-serif;
          }
        }

        .endDate {

          .label {
            margin-bottom: 10px;
          }

          :is(input) {
            border-radius: 7px;
            border: 1px solid #D9D9D9;
            padding: 10px;
            width: 387px;
            outline: none;
            font-family: Recursive, sans-serif;
          }
        }

        .sliderInput {
          width: 387px;
          
          .input {
            margin-top: 13px;
          }
        }

        .votingToll {

          .label {
            margin-bottom: 10px;
          }

          :is(input) {
            border-radius: 7px;
            border: 1px solid #D9D9D9;
            padding: 10px;
            width: 387px;
            outline: none;
            font-family: Recursive, sans-serif;
          }
        }
      }

      .tagInput {
        display: flex;
        flex-direction: column;

        .label {
          padding-bottom: 10px;
        }

        .input {
          width: 100%;
          height: 38px;
          display: flex;
          flex-direction: row;
          border: 1px solid #D9D9D9;
          border-radius: 7px;

          .tagContainer {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 7px;
            padding: 10px;
            gap: 5px;
            background: #D9D9D9;
            border-radius: 20px;
            color: #484848;
            font-size: 14px;
            z-index: 2;

            .image {
              padding-bottom: 7px;
            }
          }
        }

        .dropdown {
          width: 100%;
          height: 38px;
          margin: 5px 0px 0px -5px;
          display: flex;
          flex-direction: row;
          border-radius: 7px;

          .tagContainer {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 7px;
            padding: 10px;
            gap: 5px;
            background: #D9D9D9;
            border-radius: 20px;
            color: #484848;
            font-size: 14px;
            transition: 0.3s;
            z-index: 2;

            &:hover {
              background: #484848;
              color: white;

              .image {
                filter: brightness(100);
              }
            }
          }
        }
      }

      .textInput {
        width: 100%;

        .label {
          margin-bottom: 10px;
        }

        :is(input) {
          width: 100%;
          padding: 10px;
          border: 1px solid #D9D9D9;
          border-radius: 7px;
          outline: none;
        }
      }

      .textEditor {
        
        .label {
          margin-bottom: 10px;
        }

        .input {
          :is(div) {border-radius: 7px;}
          border: 1px solid #D9D9D9;
          border-radius: 7px;
        }
      }

      .bottomInputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}