.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;

  .centerColumn {
    width: 800px;
    display: flex;
    flex-direction: column;

    .userOptions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 40px;

      .backContainer {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: #2049B9;
      }

      .rightContainer {
        display: flex;
        flex-direction: row;
        gap: 15px;

        .preview {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          border: solid 1px #D9D9D9;
          padding: 10px;
          border-radius: 8px;
          transition: 0.3s;

          &:hover {
            color: white;
            background: #2049B9;

            .image {
              filter: brightness(100);
            }
          }
        }

        .publish {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          border: solid 1px #D9D9D9;
          padding: 10px;
          border-radius: 8px;
          transition: 0.3s;

          &:hover {
            color: white;
            background: #2049B9;

            .image {
              filter: brightness(100);
            }
          }
        }
      }
    }

    .inputsContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .inputRow {
        display: flex;
        flex-direction: row;
        gap: 25px;

        .startDate {

          .label {
            margin-bottom: 10px;
          }

          :is(input) {
            border-radius: 5px;
            border: 1px solid #D9D9D9;
            padding: 10px;
            width: 250px;
            outline: none;
            font-family: Recursive, sans-serif;
          }
        }

        .endDate {

          .label {
            margin-bottom: 10px;
          }

          :is(input) {
            border-radius: 5px;
            border: 1px solid #D9D9D9;
            padding: 10px;
            width: 250px;
            outline: none;
            font-family: Recursive, sans-serif;
          }
        }

        .votingToll {

          .label {
            margin-bottom: 10px;
          }

          :is(input) {
            border-radius: 5px;
            border: 1px solid #D9D9D9;
            padding: 10px;
            width: 250px;
            outline: none;
            font-family: Recursive, sans-serif;
          }
        }
      }

      .tagInput {

        .label {
          margin-bottom: 10px;
        }

        .input {
          width: 100%;

          :is(div) {
            outline: none;
            border: 1px solid #D9D9D9;
            box-shadow: none;
            padding: 5px;
            
            :is(input) {
              width: 90%;
              font-family: Recursive, sans-serif;

              &::placeholder {
                font-size: 12px;
                transform: translateY(-2px);
              }
            }

            :is(span) {
              border-radius: 20px;
              font-size: 14px;
              margin-left: 1px;
              background: #D9D9D9;
              color: #484848;

              :is(button) {
                margin-top: 2px;
              }
            }
          }
        }
      }

      .textInput {
        width: 100%;

        .label {
          margin-bottom: 10px;
        }

        :is(input) {
          width: 100%;
          padding: 10px;
          border: 1px solid #D9D9D9;
          border-radius: 7px;
          outline: none;
        }
      }

      .textEditor {
        
        .label {
          margin-bottom: 10px;
        }

        .input {
          :is(div) {border-radius: 5px;}
          border: 1px solid #D9D9D9;
          border-radius: 7px;
        }
      }

      .bottomInputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}