.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--lightline);
  border-radius: 10px;

  .header {
    width: 100%;
    padding: 20px 16px;
    font-size: 20px;
    color: rgba(32, 73, 185, 1);
    border-bottom: 1px solid var(--lightline);
  }

  .infos {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;

    .row {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      padding: 5px 16px;
      color: rgba(72, 72, 72, 1);
    }
  }

  .footer {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;

    img {
      margin: 5px;
      cursor: pointer;
    }
  }
}
